html,body{
	padding: 0;
	margin: 0;
}
body{
	background-image: url(https://gw.alicdn.com/tps/TB1bpWsLVXXXXbXXpXXXXXXXXXX-1500-998.jpg);
}
.profile {
    width: 50%;
    height: 300px;
    position: absolute;
    left: 25%;
    top: 50%;
    margin-top: -200px;
}
.profile div.my-img {
    background-image: url(https://gw.alicdn.com/tps/TB1SD1ALVXXXXXlXXXXXXXXXXXX-180-180.jpg);
    height: 180px;
    width: 180px;
    border-radius: 90px;
    position: absolute;
    left: 50%;
    margin-left: -90px;
}

.profile .fellow {
    position: absolute;
    height: 100px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    margin-top: 200px;
    font-size: 0;
}


.profile .fellow a.weibo {
    background-image: url(http://img.blog.csdn.net/20150614172908197);
}

.profile .fellow a.github{
    background-image: url(http://img.blog.csdn.net/20150614180451327);	
}

.profile .fellow a.segmentfault{
    background-image: url(http://img.blog.csdn.net/20150614180322421);	
}

.profile .fellow a.csdn{
    background-image: url(http://c.csdnimg.cn/public/favicon.ico);	
}

.profile .fellow a.mail{
    background-image: url(https://gw.alicdn.com/tps/TB12wKzLVXXXXbnXXXXXXXXXXXX-96-96.png);	
}

.profile .fellow a {
    display: inline-block;
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 48px;
}
